body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
p{
    font-size: 20px;
}
.n-high{
    color: orchid;
}
.name-high{
    color: orangered;
}
.half-area{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
    
}
.half-area img{
    width: 100%;
}
.banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#200122, #6f0000);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.cv-button{
    text-decoration: none;
    background-image: linear-gradient(#200122, #6f0000);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.middle-side{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.new-three{
    text-align: center;
}
.new-one{
    color: orangered;
}
.new-two{
    color: purple;
}
.single-working{
    box-shadow: 50px 50px 40px gray;
    border-radius: 5px;
    height: 85%;   
}
.exprience img{
    width: 100%;
}
.exprience{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
  
}
.side{
    padding-top: 20px;
}
#chat{
    text-decoration: none;
    background-image: linear-gradient(#200122, #6f0000);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
}
.bottom{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.side{
    background-image: url("bottomp.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height:24px;
    margin: auto;
}
.box-text{
    margin-top: 13px;
    float: left;
    margin-left: 50px;
    margin-bottom: 4px;
    color: tomato;
    font-size: 41px;

} 
#box-chat{
    text-decoration: none;
    font-size: 17px;
    color: orange;
}
   
.feet{
     text-align: center;
}
#no{
    color: gray;
}
#noo{
    color: indigo;
}

